html {
    min-width: 460px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px 15px;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

/* Header Styles 4.1 */
header {
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #00A472;
    border-radius: 7.5px 7.5px 0px 0px;
}

header h1 {
    margin-bottom: 0;
    padding-top: 15px;
}

header img {
    max-height: 35px;
}

/* Nav Bar Styles 4.2 */
nav {
    background-color: #00A472;
    border-radius: 0px 0px 7.5px 7.5px;
    position: sticky;
    top: 0;
}

a.about-us-anchor, a.seats-and-prices-anchor, a.now-showing-anchor {
    display: block; 
    position: relative; 
    top: -55px; 
    visibility: hidden;
}

nav div {
    display: table;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    font-weight: 600;
    padding: 20px;
}

nav a {
    transition: color 0.25s;
}

nav a:link {
    text-decoration: none;
    color: #000;
}

nav a:visited {
    color: #000;
}

nav a:hover {
    color: #7200a4;
}

/* Main styles 4.3 */
.about-us, .seats-and-prices, .now-showing {
    max-height: 100%;
}

/* About us styles 4.3.1 */

/* seats and prices styles 4.3.2 */
.image-section {
    text-align: center;
}

.seat-container {
    display: inline-block;
    min-width: 49%;
    text-align: center;
    font-weight: 600;
}

.seat {
    max-height: 350px;
    margin: auto;
}

.seats-and-prices h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #00A472;
    padding: 10px;
}

td {
    white-space: nowrap;
    padding: 5px;
}

.discount {
    text-align: center;
    font-weight: 600;
}

/* Now showing styles 4.3.3 */
.movie-section {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-panel {
    text-align: left;
    display: inline-block;
    max-height: 400px;
    margin: 10px;
    background-color: #00A472;
    border-radius: 10px;
    min-width: 500px;
}

.movie-panel img {
    max-height: 400px;
    display: inline-block;
    border-radius: 10px 0px 0px 10px;
}

.movie-panel p {
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}