html {
    min-width: 460px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px 15px;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

/* Header Styles 4.1 */
header {
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #00A472;
    border-radius: 7.5px 7.5px 0px 0px;
}

header h1 {
    margin-bottom: 0;
    padding-top: 15px;
}

header img {
    max-height: 35px;
}

/* Nav Bar Styles 4.2 */
nav {
    background-color: #00A472;
    border-radius: 0px 0px 7.5px 7.5px;
    position: sticky;
    top: 0;
}

a.about-us {
    display: block; 
    position: relative; 
    top: -55px; 
    visibility: hidden;
}

a.seats-and-prices {
    display: block; 
    position: relative; 
    top: -55px; 
    visibility: hidden;
}

nav div {
    display: table;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    font-weight: 600;
    padding: 20px;
}

nav a {
    transition: color 0.25s;
}

nav a:link {
    text-decoration: none;
    color: #000;
}

nav a:visited {
    color: #000;
}

nav a:hover {
    color: #7200a4;
}

/* Main styles 4.3 */
.about-us, .seats-and-prices, .now-showing {
    max-height: 100%;
}
