html {
    min-width: 350px;
    max-width: 1500px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

/* Header Styles 4.1 */
header {
    width: 100%;
    text-align: center;
    margin: auto;
}

header h1 {
    margin-bottom: 0;
}

header img {
    max-height: 35px;
}

/* Nav Bar Styles 4.2 */
nav div {
    display: table;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    font-weight: 600;
    padding: 20px;
}
